<%- include("top.ejs") %>

    <div class=" cols-6">
        <form action="/forgot" method="POST">
            <div class="form-group mb-3">
                <label for="name">Digite o e-mail de cadastro para receber uma nova senha:</label>
                <input type="email" name="email" class="form-control" placeholder="Email do Usuário ">
            </div>
            <input type="submit" value="Enviar" class="btn btn-primary" />
        </form>
        <hr />
        <% if(message) { %>
            <div clas="alert alert-danger">
                <%= message %>
            </div>
            <% } %>
                <p>
                    <a href="/users/new">Não possui cadastro?</a>
                </p>
    </div>

    <%- include("bottom.ejs") %>